.fontStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 50px;
  color: white;
  font-size: 20px;
  font-family: "Courier New", monospace;
}

.boxStyle {
  margin: 0px;
}

.confTextLeft {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
}

.confTextRight {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
}

.textFrame {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  /* opacity: 0.8; */
  border-radius: 30px;
  border: 1px solid white;
  margin: 50px 200px 50px 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 80vh;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.textCenter {
  text-align: center;
}

.link:hover {
  cursor: pointer;
}

button {
  background-color: #000000;
  border-color: white;
  border-width: 2px;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  padding: 12px 14px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Courier New", monospace;
}

li {
  margin: 10px 0;
}

textarea {
  color: #f8f8f8;
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #000000;
  font-size: 18px;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #000000;
  border-color: white;
  border-width: 2px;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  padding: 12px 14px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Courier New", monospace;
}

.bg {
  /* The image used */
  background-image: url("../img/space-bg2.jpg");

  /* Full height */
  height: auto;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  /* background-attachment: fixed; */
}

.astro {
  position: absolute;
  width: 150;
  height: auto;
  zindex: -1;
  bottom: 10px;
  right: 0px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
