.textBox {
  max-width: 80%;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 90px;
  justify-content: center;
  height: auto;
  color: black;
  font-size: 18px;
  overflow: auto;
}

.textBox2 {
  max-width: 100%;
  margin: auto;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 90px;
  justify-content: center;
  height: auto;
  color: black;
  font-size: 18px;
}

/* button css */
.sv_nav {
  font-family: "Calibri", "Calibri", cursive;
  font-size: 18px;
  margin-top: 10px;
}

/* table stripes css */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* the entire table after header css */
.sv_row {
  font-size: 17px;
  margin-top: 10px;
  width: auto;
}

/* response options css */
.sv_q_m_cell {
  font-size: 15px;
  padding: 0px 0px;
}

/* item question css */
th:nth-child(1),
td:nth-child(1) {
  font-size: 17px;
  width: auto;
  font-weight: bold;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}
